# Ignorer les fichiers système
.DS_Store
Thumbs.db
.vscode
.idea
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local
venv/
__pycache__/
